.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__submit{
    border-radius: 3px;
    background: #202020;
    padding: 15px 0;
    border:none;
    color: white;
    cursor: pointer;
    transition: all .4s;
    box-sizing:border-box;
    width: 100%;
    position: relative;
    min-height: 30px;
}

.login__submit:hover{
    transform: scale(1.05);
}

.login__submit:active{
    color: #202020;
    background: #3DDC84;
    transform: scale(0.95);
}

.login__sumbit_disabled{
    background: grey;
    opacity: 0.8;
    color: black;
}

.login__sumbit_disabled:active{
    background: grey;
    opacity: 0.8;
    color: black;
}

.login__sumbit_disabled:hover{
    transition: none;
    transform: none;
    cursor: default;
}

@media screen and (max-width: 665px) {
    .login__submit {
        font-weight: 400;
        font-size: 12px;
        max-width: 260px;
    }
}

.login__caption{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.login__caption-text{
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 665px) {
    .login__caption-text {
        font-size: 12px;
    }
}

.login__link{
    color: #4285F4;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (max-width: 665px) {
    .login__link {
        font-size: 12px;
    }
}