.queen {
	position: absolute;
	background: url('../../img/Chess_qlt60.png') center center/contain no-repeat;
}
.queen_black {
	background: url('../../img/Chess_qdt60.png') center center/contain no-repeat;
}
